@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  background: #1B4D5A; 
}
.main-page {
  display: flex;
  height: 100vh;
  background: #1B4D5A;
  background-size: 400% 400%;
  animation: auroraShift 15s ease infinite;
}

@keyframes auroraShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #1B4D5A;
  margin: 0;
  padding: 0;
  
}


.main-page {
  display: flex; 
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 25%;
  padding: 20px;
  display: flex;
  background-color: #2A6478;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.sidebar button {
  width: 200px;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #ff6347;
  background-size: 300% 300%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 15px #9c6644;
  transition: background-position 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar button:hover {
  background-position: 100% 0;
  transform: scale(1.1);
  background-color: #ff4500;
  box-shadow: 0 6px 25px #8a5a44;
}


.legend-container {
  margin-top: 15px;
  padding: 10px;
  background: #F4A896;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%; 
  margin-left: auto;
  margin-right: auto; 
}

.legend-container h3 {
  margin-top: 2px;
  margin-bottom: 10px;
  font-family: 'Lato', serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #1B4D5A;
}

.legend-list {
  list-style: none;
  font-family: 'Lato', serif;
  padding: 0;
  margin: 0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.legend-color {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #333;
}

.legend-label {
  font-size: 20px;
  font-weight: 500;
  color: #1B4D5A;
}


.content {
  flex-grow: 1; 
  background: #2A6478;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  font-family:'Lato', cursive;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 400;
  color: #F7E8D4;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-family:'Lato', serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #F7E8D4;
}

.image-display {
  font-family: 'Lato', serif;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.image-container {
  width: 28%;
  text-align: center;
  border: 1px solid #2A6478;
  padding: 20px;
  border-radius: 5px;
  background: #F4A896;
}

.image-container h3 {
  color: #1B4D5A;
  margin-top: 2px;
  margin-bottom: 5px;
}

.image-container img {  
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-container p {
  color: #1B4D5A;
}
.recommendation{
font-size: 0.1vw;
color: green;
}
